@import '../../../scss/variables';

.rooms {
  ul.recent-rooms {
    padding: 0;
    list-style: none;
    margin: 0;

    li {
      border: 1px solid rgba($secondary, 0.6);
      border-radius: 4px;
      box-shadow: $shadow;
      background-color: $bg;
      margin: 15px 0;
      padding: 18px 20px;
      display: flex;
      text-transform: capitalize;
      font-size: 1.3rem;
      outline: none;
      cursor: pointer;
      user-select: none;
      transition: all 0.2s ease;

      &:hover {
        box-shadow: none;
      }

      &:active {
        transform: scale(0.98);
      }
      
      &:focus {
        border: 2px solid darken($primary, 25);
      }

      button.remove-room {
        margin-left: auto;
        margin-right: -16px;
        height: auto;
        font-size: 1.3rem;
      }

    }

  }

  div.message {
    font-size: 1.3rem;
    color: $secondary;
    text-align: center;
    margin-top: 5rem;
  }

  .devices-same-room {
    font-size: 1.1rem;
    color: $secondary;
    opacity: 0.6;
    margin-top: 1.35rem;
  }


  @media screen and (min-width: $tablet) {

    ul.recent-rooms {
      display: flex;
      flex-wrap: wrap;
      margin: -1rem;

      li {
        margin: 1rem;
        min-width: 180px;
        flex-direction: column;
        padding: 13px 15px;
        align-items: flex-start;

        div {
          order: 2;
          margin-top: 2rem;
        }

        button.remove-room {
          margin: 0 -15px 0 auto;
          order: 1;
        }
      }
    }
  }
}

.join-room {

  hr {
    border: none;
    height: 1px;
    background-color: rgba($secondary, 0.6);
    margin: 40px 25%;
  }

  form input {
    margin-bottom: 40px;
  }

  p.instant-room-help {
    text-align: center;
    margin: 12px 0 0;
    color: $secondary;
  }
}