@import 'variables';
@import 'fonts';

* {
  box-sizing: border-box;
}

body, input, button {
  font-family: $font;
  color: $white;
}

body {
  margin: 0;
  padding: 0;

  background-image: $noise;
  background-color: $bg;
  background-size: 32%;

  color: $light;

  a {
    text-decoration: none;
    color: $light;
  }

  &.no-bg-image {
    background-image: none;
  }
}


button, .btn {
  color: $bg;
  background-color: $primary;
  border: 0;
  padding: 0 25px;
  outline: none;
  border-radius: 4px;
  font-weight: $font-bold;
  font-size: 1.4rem;
  display: inline-block;

  height: 50px;
  line-height: 50px;
  box-shadow: $shadow;

  transition: all 0.2s ease;

  -webkit-tap-highlight-color: rgba(darken($primary, 50), 0.2);
  cursor: pointer;
  user-select: none;

  &:hover {
    box-shadow: 0 8px 35px rgba($primary, 0.2);
  }

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    opacity: 0.7;
  }

  &.wide {
    width: 100%;
  }

  &.thin {
    background-color: transparent;
    box-shadow: none;
    color: $secondary;


    &:hover, &:focus {
      color: $light;
    }
  }
  
  &.icon {
    width: 50px;
    font-size: 2rem;
  }

  &.fab {
    width: 65px;
    height: 65px;
    border-radius: 33px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;

    &:disabled {
      background-color: $secondary;
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
      box-shadow: none;
    }

    .lg-text {
      display: none;
    }

    label {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: inherit;
    }
  }
}

input {
  background-color: transparent;
  border: 1px solid rgba($secondary, 0.6);
  font-weight: $font-bold;
  padding: 12px 18px;
  border-radius: 4px;
  font-size: 1.2rem;
  color: $light;
  outline: none;
  margin: 15px 0;
  width: 100%;

  transition: all 0.2s ease;
  box-shadow: $shadow inset;

  &:focus {
    border-color: lighten($secondary, 15);
  }

  &::-webkit-input-placeholder {
    color: $secondary;
  }

}

.pill {
  display: inline-block;
  background-color: rgba($primary, 0.21);
  border-radius: 50px;
  height: 20px;
  padding: 0 18px;
  font-size: 13px;
  color: $primary;
  font-weight: $font-bold;
  line-height: 1.6em;
  vertical-align: middle;
}


@media screen and (min-width: 800px) {

  body {
    background-size: 13%;
  }

  button {


    &.fab {
      height: 55px;
      width: auto;
      padding: 0 1rem;
      font-size: 2rem;

      .lg-text {
        display: block;
        font-size: 1.2rem;
        margin-right: 5px;
      }

    }
  }
}