
* {
  box-sizing: border-box;
}


body, input, button {
  font-family: $font;
  color: $white;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  background-image: $noise;
  background-color: $bg;
  background-size: 32%;
  
  min-height: 100%;
  color: $light;

  a {
    text-decoration: none;
    color: $light;
  }

  div {

    &#app {
      display: flex;
      flex-direction: column;
      padding: 20px;
      min-height: 100vh;
      max-width: 100vw;

      button.header {
        position: absolute;
        top: 10px;
        width: 50px;
        font-size: 2rem;
        background-color: transparent;
        box-shadow: none;
        color: $secondary;

        &.left {
          left: 10px;
          z-index: 1;
        }

        &.right {
          right: 10px;
          font-size: 1.4rem;
        }

        &:hover, &:focus {
          color: $light;
        }
      }

      &.center {
        text-align: center;
        align-items: center;
      }

      h2 {
        font-weight: $font-bold;
        color: $light;

        &.title {
          margin-bottom: 25px;
          font-size: 1.8rem;
        }

        &.room-name {
          position: absolute;
          margin: 0;
          top: 23px;
          left: 0;
          right: 0;
          text-transform: capitalize;

          &:after {
            content: 'room name';
            position: absolute;
            text-transform: uppercase;
            color: $secondary;
            display: block;
            font-size: 0.85rem;
            text-align: center;
            opacity: 0.5;
            width: 100%;
          }
        }
      }

      h3 {
        font-weight: $font-bold;
        line-height: 1.3em;
        color: $secondary;
      }

      form#frmJoinRoom {
        margin-bottom: auto;
      }

      ul.recent-rooms {
        padding: 0;
        list-style: none;
        margin: 0;

        li {
          border: 1px solid rgba($secondary, 0.6);
          border-radius: 4px;
          box-shadow: $shadow;
          background-color: $bg;
          margin: 15px 0;
          padding: 18px 20px;
          display: flex;
          text-transform: capitalize;
          font-size: 1.3rem;
          font-weight: $font-bold;
          outline: none;
          cursor: pointer;
          user-select: none;
          transition: all 0.2s ease;

          &:hover {
            box-shadow: none;
          }

          &:active {
            transform: scale(0.98);
          }
          
          &:focus {
            border: 2px solid $secondary;
          }

          span.icon-cancel {
            margin-left: auto;
            color: $secondary;
            cursor: pointer;
            user-select: none;
          }

        }

        &:empty::before, div.message {
          content: 'Start by joining a room using the + button';
          font-weight: $font-bold;
          font-size: 1.2rem;
          line-height: 1.3em;
          color: $secondary;
          text-align: center;
          display: block;
          margin-top: 15px;
        }

        &:empty::after {
          content: 'Devices must join same room to share files with each other';
          font-weight: $font-bold;
          color: $secondary;
          opacity: 0.5;
          display: block;
          text-align: center;
          font-size: 1rem;
          margin-top: 25px;
        }

      }

      #txtPerc {
        margin: 10px 0;
        color: $primary;
        font-size: 1.5rem;
        font-weight: $font-bold;
      }

      #txtTech {
        margin: 0 0 20px;
        color: $secondary;
        font-weight: $font-bold;
        font-size: 1rem;
      }

    }

    &#mdl {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s ease;
      
      .modal {
        background-color: $bg;
        width: 90vw;
        max-width: 400px;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 8px 60px rgba(0, 0, 0, 0.4);
      }

      span.icon-cancel {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1.3rem;
        opacity: 0.6;
        padding: 6px;
        cursor: pointer;
        user-select: none;
      }

      &::before {
        content: '';
        background-color: rgba($secondary, 0.15);
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }


    #inpRoom {
      margin-top: 0;
      margin-bottom: 30px;
    }



    .socket-error {
      text-align: center;

      h2 {
        font-weight: $font-bold;
        margin-top: 0;
        margin-bottom: 15px;
      }

      p {
        font-weight: $font-bold;
        color: $secondary;
        margin: 0 0 30px;
      }
    }

    &.card {
      width: 95%;
      border-radius: 5px;
      border: $border;
      background-color: #0B101C;
      box-shadow: $shadow;

      .header {
        border-bottom: $border;
        padding: 10px 15px;
        
        display: flex;
        align-items: center;

        h2 {
          margin: 0;
          font-weight: $font-bold;
        }
      }



      &.files {
        display: none;

        ul#lstFiles {
          margin: 5px 0;
          padding: 0;

          li {
            padding: 10px 15px;
            display: flex;
            align-items: center;


            div.info {
              text-align: left;

              h4 {
                margin: 0;
                font-weight: $font-normal;
                font-size: 1.1rem;
                text-overflow: ellipsis;
                overflow-x: hidden;
                white-space: nowrap;
                width: 70vw;
              }

              h5 {
                margin: 5px 0 0;
                color: $secondary;
                font-weight: $font-normal;
                font-size: 0.95rem;
              }
            }

            .status {
              font-size: 1.2rem;
              color: $primary;
              font-weight: $font-bold;

              margin-right: 0;
              margin-left: auto;
            }

          }

        }
      }
    }

  }

}

button {
  color: $bg;
  background-color: $primary;
  border: 0;
  outline: none;
  border-radius: 4px;
  font-weight: $font-bold;
  font-size: 1.4rem;

  width: 100%;
  height: 50px;
  box-shadow: $shadow;

  transition: all 0.2s ease;

  -webkit-tap-highlight-color: rgba(darken($primary, 50), 0.2);
  cursor: pointer;
  user-select: none;

  &:hover {
    box-shadow: 0 8px 35px rgba($primary, 0.2);
  }

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    opacity: 0.7;
  }

  &.fab {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;

    &:disabled {
      background-color: $secondary;
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
      box-shadow: none;
    }
  }
}

input {
  background-color: transparent;
  border: 1px solid rgba($secondary, 0.6);
  font-weight: $font-bold;
  padding: 12px 18px;
  border-radius: 4px;
  font-size: 1.2rem;
  color: $light;
  outline: none;
  margin: 15px 0;
  width: 100%;

  transition: all 0.2s ease;
  box-shadow: $shadow inset;

  &:focus {
    border-color: lighten($secondary, 15);
  }

  &::-webkit-input-placeholder {
    color: $secondary;
  }

}


.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }
}

.center-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

form#frmNewUser, form#frmJoinRoom {
  
  input {
    margin-bottom: 40px;
  }

}