@import 'base/index';

$header-height: 80px;

html {
  // TODO: Remove this
  overflow-x: hidden;
}

body {
  padding: 0 30px;
  overflow-x: hidden;
}

header {
  display: flex;
  // padding: 0 60px;
  height: $header-height;
  position: fixed;
  left: 0;
  padding: 0 30px;
  width: 100%;
  z-index: 2;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 150%);
  
  .brand {
    display: flex;
    align-items: center;
    z-index: 3;

    svg {
      transition: all 0.3s ease;
    }
    
    .pill {
      margin-left: 15px;
    }

    &:hover svg {
      filter: drop-shadow(0 0 20px rgba($primary, 0.5));
    }
  }

  .mobile-menu {
    line-height: $header-height;
    font-size: 20px;
    margin-left: auto;
    z-index: 3;
    height: auto;
    text-align: right;
    padding: 0;
    width: 80px;
  }
  
  nav {
    margin-left: auto;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($bg, 0.9);
    background-image: $noise;
    background-size: 32%;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    a {
      display: inline-block;
      // margin: 0 13px;
      margin: 0;
      font-weight: $font-bold;
      font-size: 16px;
      // height: 100%;
      line-height: $header-height;
      width: 100%;
      transition: color 0.3s ease;
      
      &:last-child {
        margin-right: 0;
      }
      
      &:hover {
        color: $primary;
      }
      
    }
  }
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  justify-content: center;
  
  .info {
    width: 100%;
    text-align: center;
  }
  
  .title {
    font-size: 2.2rem;
    margin: 10px 0;
  }
  
  .subtitle {
    margin: 10px 0;
    font-size: 1.3rem;
    color: $secondary;
  }

  button, .btn {
    margin-top: 40px;
  }
  
  img {
    order: -1;
    width: 100%;
  }
  
}

.features {
  display: flex;
  flex-direction: column;
  
  .feature {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-size: 1.6rem;
      margin: 0;
    }

    img {
      width: 100%;
    }

    p {
      font-size: 1.1rem;
      color: $secondary;
      font-weight: $font-bold;
    }

  }

}

.about {
  text-align: center;
  margin: 10rem 0;
  font-weight: $font-bold;
  font-size: 20px;

  blockquote {
    font-size: 1.4rem;
    margin: 0;

    span {
      color: $secondary;
      font-size: 2rem;
      // Line height is zero as large block quotes create large line heights
      line-height: 0;
    }

    footer {
      margin: 35px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $light;

      img {
        width: 50px;
        border-radius: 50px;
        margin-bottom: 1.3rem;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.1);
        }

      }

      cite {
        font-style: normal;

        &.position {
          color: $secondary;
          font-size: 1rem;
        }
      }
    }

  }
}

.final-cta {
  display: block;
  height: auto !important;
  margin: 7rem 0;
  text-align: center;
}

footer {
  margin: 2rem 0;
  font-weight: $font-bold;
  color: $secondary;
  text-align: center;
}

svg.waves {
  z-index: -1;
  position: absolute;
  bottom: 30px;
  left: 0;
  filter: drop-shadow(0 0 15px $primary);
  overflow-x: hidden;

  path {
    fill: none;
    stroke: $primary;
    stroke-width: 10px;
    stroke-dasharray: 1650;
    stroke-dashoffset: 0;
    animation: waves 1.8s ease-in-out;
  }
}

@keyframes waves {
  0% {
    stroke-dashoffset: 1650;
  }
  
  100% {
    stroke-dashoffset: 0;
  }
}


@media screen and (min-width: 800px) {

  body {
    padding: 0 60px;
  }

  header {
    padding: 0 60px;

    .mobile-menu {
      display: none;
    }

    nav {
      position: static;
      display: initial !important;
      text-align: left;
      background-color: transparent;
      background-image: none;

      a {
        margin: 0 13px;
        width: auto;
        height: 100%;
      }
    }

  }

  .hero {
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .info {
      width: 35%;
      text-align: initial;
    }

    img {
      order: 0;
      width: 70%;

      &.network-img {
        margin-right: -130px;
      }
    }
  }

  .features {
    flex-direction: row;
    justify-content: space-between;

    .feature {
      width: 31%;
    }

  }

  footer {
    text-align: left;
  }

  svg.waves {
    bottom: 0;

    path {
      stroke-width: 3px;
    }
  }

}