$primary: #3BE8B0;
$secondary: #636979;
$white: #FFFFFF;
$bg: #0D1322;
$light: #C5C7CC;

$font: 'Rubik', sans-serif;
$shadow: 0 8px 35px rgba(0, 0, 0, 0.4);
$border: 1px solid #1C2439;

$noise: url(http://api.thumbr.it/whitenoise-256x256.png?background=ffffff00&noise=8a8a8a&density=47&opacity=13);

* {
  box-sizing: border-box;
}


body, input, button {
  font-family: $font;
  color: $white;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  background-image: $noise;
  background-color: $bg;
  background-size: 32%;
  
  min-height: 100%;
  color: $light;

  a {
    text-decoration: none;
    color: $light;
  }

  div {

    &#app {
      display: flex;
      flex-direction: column;
      padding: 20px;
      min-height: 100vh;
      max-width: 100vw;

      button.back {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 50px;
        font-size: 2rem;
        background-color: transparent;
        box-shadow: none;
        color: $secondary;

        &:hover, &:focus {
          color: $light;
        }
      }

      &.center {
        text-align: center;
        align-items: center;
      }

      h2.title {
        margin-bottom: 25px;
        font-size: 1.8rem;
        font-weight: 500;
      }

      h3 {
        font-weight: 500;
        line-height: 1.3em;
        color: $secondary;
      }

      form#frmJoinRoom {
        margin-bottom: auto;
      }

      ul.recent-rooms {
        padding: 0;
        list-style: none;
        margin: 0;

        li {
          border: 1px solid rgba($secondary, 0.6);
          border-radius: 4px;
          box-shadow: $shadow;
          background-color: $bg;
          margin: 15px 0;
          padding: 18px 20px;
          text-transform: capitalize;
          font-size: 1.3rem;
          font-weight: 500;
          outline: none;
          cursor: pointer;
          user-select: none;
          transition: all 0.2s ease;

          &:hover {
            box-shadow: none;
          }

          &:active {
            transform: scale(0.98);
          }
          
          &:focus {
            border: 2px solid $secondary;
          }

          span.icon-cancel {
            float: right;
            color: $secondary;
            cursor: pointer;
            user-select: none;
          }

        }

        &:empty::before {
          content: 'Start by joining a room using the + button';
          font-weight: 500;
          font-size: 1.2rem;
          line-height: 1.3em;
          color: $secondary;
          text-align: center;
          display: block;
          margin-top: 15px;
        }

      }

      #txtPerc {
        margin: 10px 0;
        color: $primary;
        font-size: 1.5rem;
        font-weight: 500;
      }

      #txtTech {
        margin: 0 0 20px;
        color: $secondary;
        font-weight: 500;
        font-size: 1rem;
      }
    }

    &#mdl {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s ease;
      
      .modal {
        background-color: $bg;
        width: 90vw;
        max-width: 400px;
        padding: 20px;
        border-radius: 4px;
        box-shadow: $shadow;
      }

      span.icon-cancel {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1.3rem;
        opacity: 0.6;
        padding: 6px;
        cursor: pointer;
        user-select: none;
      }

      &::before {
        content: '';
        background-color: rgba($secondary, 0.15);
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    &.card {
      width: 95%;
      border-radius: 5px;
      border: $border;
      background-color: #0B101C;
      box-shadow: $shadow;

      .header {
        border-bottom: $border;
        padding: 10px 15px;
        
        display: flex;
        align-items: center;

        h2 {
          margin: 0;
          font-weight: 500;
        }

        .input-files {
          margin-right: 0;
          margin-left: auto;
          font-size: 1.7rem;
          cursor: pointer;
          user-select: none;
        }
      }


      ul {
        margin: 5px 0;
        padding: 0;

        li {
          padding: 10px 15px;
          display: flex;
          align-items: center;


          div.info {
            text-align: left;

            h4 {
              margin: 0;
              font-weight: 400;
              font-size: 1.1rem;
              text-overflow: ellipsis;
              overflow-x: hidden;
              white-space: nowrap;
              width: 70vw;
            }

            h5 {
              margin: 5px 0 0;
              color: $secondary;
              font-weight: 400;
              font-size: 0.95rem;
            }
          }

          .status {
            font-size: 1.2rem;
            color: $primary;
            font-weight: 500;

            margin-right: 0;
            margin-left: auto;
          }

        }

      }

    }

  }

}

button {
  color: $bg;
  background-color: $primary;
  border: 0;
  outline: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.4rem;

  width: 100%;
  height: 50px;
  box-shadow: $shadow;

  transition: all 0.2s ease;

  -webkit-tap-highlight-color: rgba(darken($primary, 50), 0.2);
  cursor: pointer;
  user-select: none;

  &:hover {
    box-shadow: none;
  }

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    opacity: 0.7;
  }

  &.fab {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
  }
}

input {
  background-color: transparent;
  border: 1px solid $secondary;
  font-weight: 500;
  padding: 12px 18px;
  border-radius: 4px;
  font-size: 1.2rem;
  color: $light;
  outline: none;
  margin: 15px 0;
  width: 100%;

  transition: all 0.2s ease;
  box-shadow: $shadow inset;

  &:focus {
    border-color: lighten($secondary, 15);
  }

  &::-webkit-input-placeholder {
    color: $secondary;
  }

}


.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }
}

.center-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

form#frmNewUser, form#frmJoinRoom {
  
  input {
    margin-bottom: 40px;
  }

}