<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      <% preact.title %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#0D1322">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Blaze is a peer-to-peer file sharing web app runs on any operating system! Blaze can be used for fast and easy file transfer between two or more peers at the same time.">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:description" content="Blaze is a peer-to-peer file sharing web app runs on any operating system! Blaze can be used for fast and easy file transfer between two or more peers at the same time.">
    <meta property="twitter:image" content="https://blaze.now.sh/assets/images/site-preview.jpg">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:description" content="Blaze is a peer-to-peer file sharing web app runs on any operating system! Blaze can be used for fast and easy file transfer between two or more peers at the same time.">
    <meta property="og:image" content="https://blaze.now.sh/assets/images/site-preview.jpg">
    <meta property="og:url" content="https://blaze.now.sh/">
    <meta property="og:title" content="Blaze | File sharing web app ⚡">

    <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:500,600&display=swap" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:500,600&display=swap">  

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/images/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/images/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="Blaze"/>
    <meta name="msapplication-TileColor" content="#0D1322" />
    <meta name="msapplication-TileImage" content="assets/images/mstile-144x144.png" />

    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-82138003-3', 'auto');
      ga('set', 'transport', 'beacon');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
  

    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>