<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      <% preact.title %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#0D1322">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:500,600&display=swap" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:500,600&display=swap">  

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/images/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/images/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="Blaze"/>
    <meta name="msapplication-TileColor" content="#0D1322" />
    <meta name="msapplication-TileImage" content="assets/images/mstile-144x144.png" />

    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>