@import '../../scss/variables';

.app-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.6rem;
  min-height: 100vh;
  max-width: 100vw;
}

.app-header {
  margin: 0.5rem 0 2rem;
}