@import '../../scss/variables';

.pill {
  display: inline-block;
  background-color: rgba($primary, 0.21);
  border-radius: 10px;
  height: 20px;
  padding: 0 1rem;
  font-size: 0.8rem;
  color: $primary;
  line-height: 20px;
  vertical-align: middle;
}