@import '../../scss/variables';

button.fab {
  width: 65px;
  height: 65px;
  border-radius: 33px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 2.3rem;
  padding: 0;

  &:disabled {
    background-color: $secondary;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
  }

  svg {
    width: 32px;
    height: 32px;
  }

  .lg-text {
    display: none;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: inherit;
  }
}

@media screen and (min-width: $tablet) {
  button.fab {
    height: 55px;
    width: auto;
    padding: 0 1rem;
    font-size: 2rem;

    .lg-text {
      display: block;
      font-size: 1.25rem;
      margin: 0 5px;
    }

    svg {
      width: auto;
      height: auto;
    }
  }
}