@import '../../scss/variables';

.toast {
  border-radius: 4px;
  padding: 0.35rem 0.85rem;
  background-color: rgba($secondary, 0.85);
  margin: 10px 0;
  text-align: center;
  white-space: nowrap;
}