@import '../../../scss/variables';

html {
  // TODO: Remove this
  overflow-x: hidden;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  justify-content: center;
  
  .info {
    width: 100%;
    text-align: center;
  }
  
  .title {
    font-size: 2.2rem;
    margin: 10px 0;
  }
  
  .subtitle {
    margin: 10px 0;
    font-size: 1.3rem;
    color: $secondary;
    font-weight: $font-normal;
  }

  .ph-mob {
    margin-top: 20px;
    display: block;

    img {
      vertical-align: middle;
    }
  }

  button, .btn {
    margin-top: 40px;
  }
  
  img {
    order: -1;
    width: 100%;
  }
  
}

.features {
  display: flex;
  flex-direction: column;
  
  .feature {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-size: 1.6rem;
      margin: 0;
    }

    img {
      width: 100%;
    }

    p {
      line-height: 1.3em;
      font-size: 1.1rem;
      color: $secondary;
    }

  }

}

.about {
  text-align: center;
  margin: 10rem 0;
  font-size: 20px;

  blockquote {
    font-size: 1.4rem;
    margin: 0;

    span {
      color: $secondary;
      font-size: 2rem;
      // Line height is zero as large block quotes create large line heights
      line-height: 0;
    }

    footer {
      margin: 35px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $light;

      img {
        width: 50px;
        border-radius: 50px;
        margin-bottom: 1.3rem;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.1);
        }

      }

      cite {
        font-style: normal;
        
        &.position {
          color: $secondary;
          font-size: 1rem;
          font-weight: $font-bold;
        }
      }
    }

  }
}

.final-cta {
  display: block;
  height: auto !important;
  margin: 7rem 0;
  text-align: center;
}

footer {
  margin: 2rem 0;
  color: $secondary;
  text-align: center;
  
  a {
    font-weight: $font-bold;
  }
}

svg.waves {
  z-index: -1;
  position: absolute;
  bottom: 30px;
  left: 0;
  filter: drop-shadow(0 0 15px $primary);
  overflow-x: hidden;

  path {
    fill: none;
    stroke: $primary;
    stroke-width: 10px;
    stroke-dasharray: 1650;
    stroke-dashoffset: 0;
    animation: waves 1.8s ease-in-out;
  }
}

@keyframes waves {
  0% {
    stroke-dashoffset: 1650;
  }
  
  100% {
    stroke-dashoffset: 0;
  }
}


@media screen and (min-width: 800px) {

  .hero {
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .info {
      width: 35%;
      text-align: initial;
    }

    img {
      order: 0;
      width: 70%;

      &.network-img {
        margin-right: -130px;
      }
    }

    .ph-mob {
      display: none;
    }
  }

  .features {
    flex-direction: row;
    justify-content: space-between;

    .feature {
      width: 31%;
    }

  }

  footer {
    text-align: right;
  }

  svg.waves {
    bottom: 0;

    path {
      stroke-width: 3px;
    }
  }

}