@import '../../../scss/variables';

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 31rem;
  margin: 0 auto;
  overflow-x: hidden;
}

.brand {
  margin-top: 1rem;
  filter: drop-shadow(0 0 20px rgba($primary, 0.5));
}

.network-img {
  mask-image: linear-gradient(to bottom, black 15%, transparent 65%);
  max-width: 110%;
  min-width: 385px;
  margin: 0.5rem 0 0 3rem;
  aspect-ratio: 1.536;
}

.register-info {
  margin-top: -6.5rem;

  p {
    color: $secondary;
  }
}

.register-form {
  margin-top: 2rem;
}

@media screen and (max-width: $md) {
  .network-img {
    max-width: 130%;
    margin-top: 1rem;
  }
}
