$primary: #3BE8B0;
$secondary: #636979;
$white: #FFFFFF;
$bg: #0D1322;
$light: #C5C7CC;

$font: 'Rubik', sans-serif;
$shadow: 0 8px 35px rgba(0, 0, 0, 0.4);
$border: 1px solid #1C2439;

$font-normal: 400;
$font-bold: 500;

$noise: url(../images/noise.png);
