@import '../../../scss/variables';

.file-transfer {
  text-align: center;
  
  .app-header {
    display: flex;
    margin: 0 0 25px;

    .room-name {
      font-weight: $font-normal;
      flex: 1;
      font-size: 1.5rem;
      position: relative;
      text-transform: capitalize;

      &:after {
        content: 'room name';
        position: absolute;
        text-transform: uppercase;
        color: $secondary;
        display: block;
        font-size: 0.85rem;
        text-align: center;
        opacity: 0.5;
        width: 100%;
        font-weight: $font-bold;
      }
    }

    button {

      &.left {
        margin-top: -15px;
        margin-right: auto;
        text-align: left;
      }

      &.right {
        margin-left: auto;
        text-align: right;
      }

    }
  }

  .transfer-percentage {
    margin: 10px 0;
    color: $primary;
    font-size: 1.5rem;
    font-weight: $font-bold;
  }

  .transfer-tech {
    margin: 0 0 20px;
    color: $secondary;
    font-size: 1rem;
  }


  .card {
    width: 95%;
    border-radius: 5px;
    border: $border;
    background-color: #0B101C;
    box-shadow: $shadow;

    .header {
      border-bottom: $border;
      padding: 10px 15px;
      
      display: flex;
      align-items: center;

      h2 {
        font-size: 1.25rem;
        font-weight: $font-normal;
        color: $secondary;
      }
    }

  }


  .files-container {
    margin: 2rem auto 0;

    ul.files {
      margin: 5px 0;
      padding: 0;

      li {
        padding: 10px 15px;
        display: flex;
        align-items: center;


        div.info {
          text-align: left;
          width: 85%;

          h4 {
            font-weight: $font-normal;
            font-size: 1.2rem;
            text-overflow: ellipsis;
            overflow-x: hidden;
            white-space: nowrap;
            width: 100%;
          }

          h5 {
            font-weight: $font-normal;
            color: $secondary;
            font-size: 0.85rem;
          }
        }

        .file-progress {
          transform: rotateZ(-90deg) scaleY(-1);
          margin-left: auto;

          circle {
            stroke: $primary;
            stroke-width: 2px;
            stroke-dasharray: 63;
            fill: #0B101C;
          }
        }

        .file-complete {
          margin: 15px 15px 19px auto;
          color: $primary;
        }

      }
    }
  }

  @media screen and (min-width: $tablet) {
    main {
      display: flex;
      justify-content: center;
      height: 75vh;
    }

    .files-container {
      flex: 1;
      align-self: center;
      margin-top: -8rem;

      ul.files {
        margin: 0;
        max-height: calc(60vh - 50px);
        overflow-y: auto;
      }
    }
  }

}

.socket-error {
  text-align: center;

  h2 {
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.1rem;
    color: $secondary;
    margin: 0 0 2rem;
  }
}