@import '../../../../scss/variables';

$header-height: 80px;

.page-header {
  display: flex;
  // padding: 0 60px;
  height: $header-height;
  position: fixed;
  left: 0;
  padding: 0 30px;
  width: 100%;
  z-index: 2;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 150%);
  
  .brand {
    display: flex;
    align-items: center;
    z-index: 3;

    svg {
      transition: all 0.3s ease;
    }
    
    .pill {
      margin-left: 15px;
    }

    &:hover svg {
      filter: drop-shadow(0 0 20px rgba($primary, 0.5));
    }
  }

  .mobile-menu {
    line-height: $header-height;
    font-size: 20px;
    margin-left: auto;
    z-index: 3;
    height: auto;
    text-align: right;
    padding: 0;
    width: 80px;
  }
  
  nav {
    margin-left: auto;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($bg, 0.9);
    background-image: $noise;
    background-size: 32%;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    a {
      display: inline-block;
      // margin: 0 13px;
      margin: 0;
      font-weight: $font-bold;
      font-size: 16px;
      // height: 100%;
      line-height: $header-height;
      width: 100%;
      transition: color 0.3s ease;
      
      &:last-child {
        margin-right: 0;
      }
      
      &:hover {
        color: $primary;
      }

      &.ph-desktop {
        display: none;
      }
      
    }
  }
}

@media screen and (min-width: 800px) {
  .page-header {
    padding: 0 60px;

    .mobile-menu {
      display: none;
    }

    nav {
      position: static;
      display: initial !important;
      text-align: left;
      background-color: transparent;
      background-image: none;

      a {
        margin: 0 13px;
        width: auto;
        height: 100%;

        &.ph-desktop {
          display: inline;

          img {
            vertical-align: middle;
          }
        }
      }
    }

  }
}