@import '../../../scss/variables';

.four-o-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;

  img {
    max-width: 100%;
  }

  h1 {
    margin: 3rem 0 0;
  }

  p {
    color: $secondary;
    font-size: 1.25rem;
  }

  a {
    margin-top: 2rem;
  }
}