@import '../../../scss/variables';

.settings {
  max-width: 28rem;
  margin: 8rem auto 0;

  label span {
    font-size: 1.15rem;
  }

  form input {
    margin-bottom: 20px;
  }

  .btn.save {
    margin-top: 6rem;
  }

  hr {
    margin-top: 56px;
    margin-bottom: 56px;
  }

  .clear-all-data {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 1.15rem;
    }
  }

  p.clear-all-data-help {
    text-align: center;
    margin-top: 1.75rem;
    color: $secondary;
  }
}

@media screen and (max-width: $tablet) {
  .settings {
    margin: 2rem auto 0;
  }
}