$primary: #3BE8B0;
$primary-600: #24A87D;
$primary-700: #187E5D;
$secondary: #636979;
$secondary--60: rgba($secondary, 0.6); 
$white: #FFFFFF;
$bg: #0D1322;
$light: #C5C7CC;

$font: 'Jost', sans-serif;
$shadow: 0 8px 35px rgba(0, 0, 0, 0.4);
$border: 1px solid #1C2439;

$font-normal: 500;
$font-bold: 600;

$noise: url(/assets/images/noise.png);
$tablet: 768px;
$mobile-sm: 359px;